:host {
  display: inline-flex;
}

.c-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  border-radius: 50%;
  overflow: hidden;

  &--size-small {
    width: 24px;
    height: 24px;
  }

  &--size-medium {
    width: 32px;
    height: 32px;
  }

  &--size-large {
    width: 40px;
    height: 40px;
  }

  &--size-xlarge {
    width: 48px;
    height: 48px;
  }

  &--size-2xlarge {
    width: 56px;
    height: 56px;
  }

  &--size-3xlarge {
    width: 152px;
    height: 152px;
  }
}

.c-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
