.c-main-menu--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.c-main-menu--title {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  user-select: none;
}

.c-main-menu--button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.c-main-menu--button {
  font-family: inherit;
  font-size: large;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: 40px;
  margin: 0;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;

  &::before {
    background-color: #cccccc78;
  }

  &::after {
    background-color: #cccccc;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
  }

  &[disabled] {
    cursor: not-allowed;
    &::before,
    &::after {
      content: none;
    }
  }

  &:active {
  }

  &:hover:not([disabled]) {
    transition: opacity 250ms ease;
    opacity: 0.45;
    border-radius: inherit;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    // shake animation
    animation: shake 1s infinite;
    // make this shake animation smootherby adding the following
    animation-timing-function: linear;
    // this animation will repeat forever in a linear way
    animation-iteration-count: infinite;
    // the starting point of the animation will be random

    @keyframes shake {
      0%,
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translate(-1px, 1px) rotate(-1deg);
      }
      20%,
      40%,
      60%,
      80% {
        transform: translate(1px, -1px) rotate(1deg);
      }
    }
    &:active {
      animation-play-state: paused;
      animation: none;
      transition: transform 1.5s ease;
      transform: scale(1.1);
    }
  }

  &::before,
  &::after {
    opacity: 1;
  }
}
