@font-face {
  font-family: 'Gamestation';
  src: url('../../../fonts/GamestationDisplay-zexG.otf');
}

html {
  font-family: 'Gamestation', sans-serif;
}

body {
  font-family: 'Gamestation', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0;
}

.header {
  background-color: blue;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
