.c-asset--size-small {
  width: 24px;
}

.c-asset--size-medium {
  width: 32px;
}

.c-asset--size-large {
  width: 40px;
}

.c-asset--size-xlarge {
  width: 48px;
}

.c-asset--size-2xlarge {
  width: 56px;
}

.c-asset--size-3xlarge {
  width: 64px;
}
